- title "features", "features - gfxCardStatus"

:markdown
  ## Simple, clean graphics and UI
  Nobody likes dealing with bloat, so gfxCardStatus is super simple. Simple **_i_** and **_d_** graphics denote whether your MacBook Pro is using its integrated or discrete GPU.

  ## Updates in real time when the GPU switches
  Polling? Psh! gfxCardStatus waits for OS X to tell it that the active GPU has changed.

  ## Manually switch GPUs at will!
  Want to save some battery life or decrease heat? Flip over to your integrated GPU and revel in the glory of [your favorite new Mac app](/gfxCardStatus).

  ## Localized in _11 languages_. Whoa.
  See a list of them [here](/gfxCardStatus/faq#languages)!

  ## Growl support
  [Growl](http://growl.info) notifications will alert you to the fact that your active GPU has changed.

  ## Dependent process list for discrete GPU
  Wondering what applications are causing the automatic switch to your discrete GPU? Just pop open the gfxCardStatus menu!

  ## Power source-based GPU switching
  Want to save some battery life while on the go? Set gfxCardStatus to switch to your integrated GPU upon unplugging your power cord!

  ## Automatic updating
  gfxCardStatus uses [Sparkle](http://sparkle.andymatuschak.org/), so you're always running the latest and greatest version.

