- title "gfxCardStatus"
- metadesc do
  gfxCardStatus is a menu bar application that keeps track of which graphics 
  card your unibody, dual-GPU MacBook Pro is using at any given time, and 
  allows you to switch between them on demand.
- stylesheets "apps/gfxcardstatus"

:plain
  <div id="punchline">
    <div class="left">
      <img src="/images/gfxCardStatus/gfxCardStatus-64.png" class="logo" alt="logo" />
    </div>
    <div class="right">

      <p>gfxCardStatus is a menu bar application that keeps track of which graphics card your unibody, dual-GPU MacBook Pro is using at any given time, and allows you to switch between them on demand. <strong>Read all about its features <a href="/gfxCardStatus/features">here</a></strong>.</p>

    </div>
    <div class="clear"></div>
  </div>
  <div class="price-info">
    <span class="price">free</span>, <a href="https://github.com/codykrieger/gfxCardStatus">open-source</a>.
    <div class="center">
      <a href="/downloads/gfxCardStatus-2.1.zip" class="button">Download gfxCardStatus v2.1</a>
    </div>
    <span class="small"><a href="/gfxCardStatus/releasenotes/2.1.html">Release notes</a> for v2.1</span><br />
    <span class="small"><em><strong>v2.1 includes support for OS X Lion.</strong></em></span>
  </div>
  <p class="center">
      If you find gfxCardStatus useful, please consider donating!
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="center">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="RK4PCPCM958FW" />
          <input type="image" src="/images/paypal-button.png" name="submit" alt="Donate with PayPal!" />
          <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
  </p>
  <p>
    <div class="center">
      <a class="FlattrButton" style="display:none;" href="http://codykrieger.com/gfxCardStatus"></a>
      <noscript><a href="http://flattr.com/thing/177202/gfxCardStatus" target="_blank">
      <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
    </div>
  </p>
  <p class="center">
    Feedback/questions/issues? See the <a href="/gfxCardStatus/faq">FAQ</a>.
  </p>

