- title "screenshots", "screenshots - gfxCardStatus"

:md
  gfxCardStatus in action! Photos are a little out of date - new ones coming shortly.

  <p class="bordered">
  <img src="/images/gfxCardStatus/shot-4.png" alt="" />
  Growl notification: Switching to Intel® HD Graphics
  </p>

  <p class="bordered">
  <img src="/images/gfxCardStatus/shot-5.png" alt="" />
  Growl notification: Switching to NVIDIA® GeForce GT 330M
  </p>

  <p class="bordered">
  <img src="/images/gfxCardStatus/shot-6.png" alt="" />
  Menu
  </p>

