html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section, header, footer, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-family: inherit;
  text-align: left; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

body {
  font: normal normal normal 14px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: #666666;
  background: url(/images/bg.jpg); }

a {
  text-decoration: none;
  position: relative;
  color: #0088cc;
  outline: none; }
  a:hover {
    text-decoration: underline; }
  a:active {
    top: 1px; }

abbr {
  border-bottom: 1px dotted #999;
  cursor: help; }

hr {
  border: none;
  border-top: 1px dashed #ccc;
  height: 1px;
  margin: 20px auto; }

p {
  margin: 0 0 20px;
  line-height: 1.5; }

ul {
  margin: 0 0 20px 15px;
  list-style-type: circle;
  list-style-position: inside; }
  ul li {
    padding: 4px 15px 4px 0; }
  ul[class] {
    margin: 0;
    list-style-type: none; }
  ul[class] li {
    padding: 0; }
  ul[class] li a {
    font-weight: normal; }

p + ul {
  margin: 0 0 20px 15px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  color: black; }

h1, h2 {
  font-weight: bold; }

h1 {
  font-size: 27pt;
  margin: 0 0 20px; }

h2, h3, h4, h5, h6 {
  margin-bottom: 5px; }

h2 {
  font-size: 17pt; }

h3 {
  font-size: 15pt; }

strong, b {
  font-weight: bold; }

#head {
  margin: 25px auto;
  width: 980px; }
  #head > div {
    padding: 0 10px; }
  #head .nav {
    padding: 9px 0 0; }
    #head .nav a {
      display: inline-block;
      padding: 7px 0;
      margin: 0 0 0 20px; }
      #head .nav a.active {
        color: #666666; }
  #head .left {
    float: left; }
  #head .right {
    float: right; }
  #head .desc {
    color: #888; }
  #head h2 {
    color: #58a3ca;
    font-size: 22pt;
    margin: 0; }
    #head h2 a {
      font-weight: bold;
      color: #444; }
      #head h2 a:hover {
        color: #222; }

#container {
  width: 980px;
  margin: 0 auto;
  position: relative; }

#content {
  background: #fff;
  position: relative; }
  #content > div {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #bbbbbb;
    -moz-box-shadow: 0px 0px 4px #bbbbbb;
    box-shadow: 0px 0px 4px #bbbbbb;
    padding: 10px; }
  #content div {
    line-height: 1.5; }

#subnav {
  position: absolute;
  top: -36px;
  right: 0;
  padding: 3px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #888; }
  #subnav a {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 13px; }
    #subnav a:first-child {
      margin: 0 0 0 4px; }
    #subnav a.active {
      color: #666; }

h1#title, #content div h1:first-child {
  font-weight: normal !important;
  font-size: 20pt; }

#footer {
  padding: 25px 10px;
  color: #999;
  text-align: center; }

.pagination em {
  font-style: normal;
  font-weight: bold; }

.orbit-wrapper {
  margin: 0 auto; }

.slider {
  background: white url(/javascripts/orbit/loading.gif) no-repeat center center;
  overflow: hidden; }
  .slider .caption {
    line-height: normal !important; }

div.lightbox {
  display: none;
  width: 450px;
  background: #ededed;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }
  div.lightbox a.close {
    display: block;
    float: right; }
  div.lightbox h2 {
    font-size: 19pt; }
  div.lightbox h3 {
    font-size: 15pt; }
  div.lightbox p {
    font-size: 10pt; }

.bordered {
  display: inline-block;
  padding: 5px;
  background: #eee;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .bordered img {
    display: block;
    padding-bottom: 5px; }

.small, .big, .reallybig, .huge {
  line-height: 1; }

.small {
  font-size: 9pt; }

.big {
  font-size: 20pt;
  color: #999; }

.reallybig {
  font-size: 27pt;
  color: #777; }

.huge {
  font-size: 42pt;
  color: #000; }

.c, .center {
  text-align: center; }

.r {
  text-align: right; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.fleft {
  float: left; }

.fright {
  float: right; }

.clear {
  clear: both; }

.dark {
  color: #333; }

.black {
  color: #000; }

.white {
  color: #fff; }

.gray {
  color: #aaa; }

.red {
  color: #e3001b; }

.darkred {
  color: #8d0011; }

.blue {
  color: #58a3ca; }

.button {
  display: inline-block;
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 1px 2px 0 #b3b3b3;
  text-shadow: 0 -1px 1px #3275bc;
  font-size: 11px;
  font-weight: normal;
  color: #fff !important;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 4px 11px;
  line-height: normal !important; }

.button::-moz-focus-inner {
  border: 0; }

.super.button {
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important; }

.red.button {
  background: #ba3b3b;
  background: -moz-linear-gradient(0% 100% 90deg, #ba3b3b, #db3b3b);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#db3b3b), to(#ba3b3b));
  border: 1px solid #893b3b;
  text-shadow: 0 -1px 1px #a12d2e; }

.red.button:hover {
  background: #ba3b3b;
  background: -moz-linear-gradient(0% 100% 90deg, #ba3b3b, #db3b3b);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cb3b3b), to(#9b3b3b));
  border: 1px solid #593b3b;
  text-shadow: 0 -1px 1px #7e2324; }

.medium.button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px 12px; }

.large.button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 17px; }

.button:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  text-decoration: none; }

.button:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.2), 0 1px 0 0 white;
  -webkit-box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.2), 0 1px 0 0 white;
  text-shadow: 0 -1px 1px #2361a4; }

.button[disabled], .button[data-disabled],
.button[disabled]:hover, .button[data-disabled]:hover,
.button[disabled]:active, .button[data-disabled]:active {
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb; }

input[type=text], input[type=password], textarea {
  display: block;
  background: white url(../images/input-bg.png) no-repeat 0 0;
  padding: 3px 5px;
  margin: 0 0 10px 0;
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: 13px/18px Helvetica Neue, "Arial", Helvetica, Verdana, sans-serif;
  text-shadow: 0 0 1px #fff;
  color: #666; }

select:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none; }

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 1px dashed #333;
  color: #333; }

textarea {
  width: 550px;
  height: 250px; }

select {
  display: inline-block;
  margin-top: 6px; }

#errorExplanation {
  padding: 10px;
  margin: 0 0 15px 0;
  border: 1px dashed #e33100;
  color: #333; }

#errorExplanation h2 {
  font-size: 13pt; }

#errorExplanation ul {
  margin: 10px 15px 0;
  list-style-type: lower-roman;
  list-style-position: inside; }

#errorExplanation li {
  font-style: italic; }

.field_with_errors input[type=text], .field_with_errors input[type=password], .field_with_errors textarea {
  border: 1px dashed #e33100; }

.form_row .left, .form_row .right {
  float: left; }

.form_row .left + .left, .form_row .right {
  margin: 0 0 0 15px; }

.form_row_button {
  padding: 5px 0 0; }

input.full, textarea.full {
  width: 945px; }

textarea.full.wysiwyg {
  width: 925px; }

input.half, textarea.half {
  width: 455px; }

input.large {
  font-size: 25px; }

.field.floating {
  float: left;
  margin-right: 25px; }

.field, .actions {
  padding: 0 0 10px; }

.field label {
  display: block;
  padding: 0 0 3px; }
