= include_javascripts :common
= yield(:end_scripts)
- if Rails.env == 'production'
  :javascript
    (function() {
      var ma = document.createElement('script'); ma.type = 'text/javascript';
      ma.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.codykrieger.com/?js';
      
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ma, s); 
    })();
