- title "about"

:md
  Hey! I'm Cody. I have a strong appetite for all things web, computer and 
  programming-related. I'm a student at the [Rochester Institute of 
  Technology](http://www.rit.edu) (expected graduation in 2015), and I enjoy 
  learning new technologies. In my spare time, I'm most likely either playing 
  guitar or hacking away at my latest and greatest project.
  
  For (much) more detailed information about my technical skills, see my 
  [resume](/resume.pdf) and my 
  [Stack Overflow Careers CV](http://careers.stackoverflow.com/codykrieger). 
  To see examples of my technical skills in action, see my 
  [projects](/projects) and my [past work](/about/work).
