- title "press"

:markdown
  Here is a small list of press highlights about me, and my projects.

  ## may 11, 2010

  - [Ars Technica: Auto graphics switching and dwindling MacBook Pro batteries](http://arstechnica.com/apple/news/2010/05/auto-graphic-switching-and-dwindling-macbook-pro-batteries.ars)

  ## may 10, 2010

  - [Cult of Mac: gfxCardStatus Allows You To Manually Switch Your 2010 MacBook Pro’s GPUs](http://www.cultofmac.com/gfxcardstatus-allows-you-to-manually-switch-your-2010-macbook-pros-gpus/42349)  
  - [CNET: Switch MacBook Pro graphics cards with gfxCardStatus](http://reviews.cnet.com/8301-13727_7-20004619-263.html)

  ## may 8, 2010

  - [Engadget: MacBook Pros with NVIDIA GeForce GT 330M graphics get (unofficial) discrete switching utility](http://www.engadget.com/2010/05/08/macbook-pros-with-nvidia-geforce-gt-330m-graphics-get-discrete-s/)  
  - [AnandTech: gfxCardStatus 1.6 enables 2010 MacBook Pro GPU Switching](http://www.anandtech.com/show/3709/gfxcardstatus-brings-2010-macbook-pro-gpu-switching)

  ## dec 12, 2009

  - [Teen has an app for that](http://medinagazette.northcoastnow.com/2009/12/12/teen-has-an-app-for-that/)
  
