- title "work"

:markdown
  In addition to my more prominent [apps & projects](/projects), I have worked 
  on a variety of things, some of which are detailed below.

  ## freelance (more or less)

  [DanCal Storage](http://www.dancalstorage.com/)  
  A small website with pricing and contact information, and a photo gallery. 
  Built on WordPress.

  [Tweet & Speak](http://www.tweetandspeak.com/)  
  A Twitter application for iOS that allowed users to vocalize their timeline 
  via speech synthesis technology. No longer functions properly as of the 
  switch to OAuth as the preferred API authentication solution.

  ## chad allan

  Below is a (very small) selection of the websites/applications I have worked 
  on during my former employment at [Chad Allan Consulting](http://www.chadallan.com). 
  Typically, these sites were designed by a third-party designer, and I was to 
  implement them on top of our proprietary content management system.

  [BioEnterprise](http://www.bioenterprise.com/)  
  An initiative designed to grow health care companies, and commercialize bioscience 
  technologies.

  [Cleveland Health-Tech Corridor](http://www.healthtechcorridor.com/)  
  A globally competitive location for attracting and growing biomedical and technology 
  companies.

  [Cleveland Beer Week](http://www.clevelandbeerweek.org/)  
  A yearly celebration of craft brews, located in Cleveland, Ohio.

  [Leadership Medina County](http://www.leadershipmedinacounty.org/)  
  A leadership development organization in Medina, Ohio.

  [YPA of Medina County](http://www.medinacountyypa.com/)  
  The YPA stands to encourage and stimulate young business leaders in Medina county.

