- metadesc do
  developer of high-quality web, mobile & desktop applications.
- stylesheets "home", "/javascripts/orbit.css"
- javascripts "orbit"

:plain
  <div class="main slider">
    <div class="content gfxCardStatus">
      <span class="text">
        gfxCardStatus. Everyone's favorite menu bar<br />
        GPU utility for dual-GPU MacBook Pros.
        <br /><br />
        <span class="smaller">Do your battery life a favor.</span>
        <br />
        <a class="medium button" href="/gfxCardStatus">Take a look at gfxCardStatus!</a>
      </span>
    </div>
    <div class="content compressify">
      <span class="text">
        Compressify. Super simple, no-frills JavaScript<br />
        and CSS minification.
        <br /><br />
        <span class="smaller">Save your visitors some bandwidth.</span>
        <br />
        <a class="medium button" href="/compressify">Take a look at Compressify!</a>
      </span>
    </div>
  </div>
