- title "charisma"

:md
  Charisma is a Ruby on Rails-based content management system, with a focus on 
  minimalism and ease of use. Fun fact: it powers codykrieger.com!

  _**More details and source code forthcoming.**_

