- title "contact"

:markdown
  You're in luck! I'm a pretty easy guy to get in touch with. You can contact 
  me via any of the following methods:
  
  email: <span data-value="cody----codykrieger____com" class="obfuscated">cody{at}codykrieger{dot}com</span>  
  twitter: [@codykrieger](http://twitter.com/codykrieger)
  
  And see my profiles on any of the following sites:
  
  github: [codykrieger](https://github.com/codykrieger)  
  stack overflow: [codykrieger](http://stackoverflow.com/users/404447/codykrieger)
