- title "apps & projects"

:markdown
  If you've come to see some of my latest and greatest, you're in the right place! It's all here.

  ## mac os x
  Everyone's favorite desktop operating system.

  <p>
    <a href="/gfxCardStatus"><strong>gfxCardStatus</strong></a><br />
    A menu bar application that keeps track of which graphics card your unibody, 
    dual-GPU MacBook Pro is using at any given time, and allows you to switch 
    between them on demand.<br />
    <em class="gray"><strong>free</strong>, open-source</em>
  </p>

  <p>
    <a href="/compressify"><strong>Compressify</strong></a><br />
    Super simple, no-frills JavaScript and CSS minification.<br />
    <em class="gray"><strong>$2.99</strong>, available now on the Mac App Store</em>
  </p>

  <p>
    <a href="/stackoverflowx"><strong>StackOverflowX</strong></a><br />
    A menu bar application tasked with showing your Stack Overflow rep count.<br />
    <em class="gray"><strong>free</strong>, open-source</em>
  </p>

  <hr />

  <!-- ## iOS
  For iPhone, iPad, and iPod Touch!

  <p>
    <a href="/electromate"><strong>ElectroMate</strong></a><br />
    A digital electronics helper utility. Run calculations on circuits, determine 
    the value of resistor color codes, and more!<br />
    <em class="gray"><strong>$0.99</strong>, not yet released</em>
  </p>

  <hr /> -->

  ## web
  Service-based apps, and apps to download and run yourself.

  <p>
    <a href="/charisma"><strong>Charisma</strong></a><br />
    A Ruby on Rails-based content management system, with a focus on minimalism 
    and ease of use. Charisma is the CMS that powers my website.<br />
    <em class="gray"><strong>free</strong>, open-source</em>
  </p>
