- title "StackOverflowX"

:md
  _StackOverflowX_ is a menu bar application tasked with showing your Stack Overflow rep count.

  _**More details forthcoming. Source code is [on GitHub](https://github.com/codykrieger/stackoverflowx).**_

