= link_to "compressify", "/compressify", :class => "#{active_page? '/compressify', 'active'}"
= link_to "support", "/compressify/support", :class => "#{active_page? '/compressify/support', 'active'}"

