- title "Compressify"
- metadesc "Super simple, no-frills JavaScript and CSS minification."
- stylesheets "apps/compressify"

:plain
  <div id="punchline">
    <div class="left">
      <img src="/images/compressify/logo.png" alt="logo" class="logo" />
      <img src="/images/compressify/shot1.png" alt="screenshot" class="screenshot" />
    </div>
    <div class="right">
      <h1>Compressify</h1>
      <p>Super simple, no-frills JavaScript and CSS <abbr title="Minification makes JavaScript and CSS files smaller, so that they take less time to download for clients that visit your website.">minification</abbr>.</p>
      <div class="price-info">
        <span class="price">$2.99</span>, available now.
        <div class="center">
          <a href="http://itunes.apple.com/us/app/compressify/id414830806?mt=12" class="button">Download from the Mac App Store</a>
        </div>
      </div>
      <p class="center">
        Feedback/questions/issues? See the <a href="/compressify/support">support page</a>.
      </p>
    </div>
    <div class="clear"></div>
  </div>

