- if flash[:notice]
  %div#messenger{:class => "flasher"}= flash[:notice]
- if flash[:error]
  %div#error{:class => "flasher"}= flash[:error]
- if flash[:alert]
  %div#alert{:class => "flasher"}= flash[:alert]
